firebase-admin>=6.2.0
functions-framework>=3.0.0
firebase-functions>=0.1.0
requests>=2.31.0
beartype>=0.20.2,<0.21.0
cryptography>=41.0.0
google-cloud-secret-manager>=2.16.0
stravalib>=2.3,<3.0
pydantic<2.0.0
git+https://github.com/santoshgdev/fitnessllm-shared.git@main
