functions-framework==3.*
requests==2.31.0
firebase-admin==6.2.0
google-cloud-firestore==2.11.1
google-cloud-functions==1.13.2
google-cloud-run==0.9.1
firebase-functions==0.1.1
beartype==0.15.0
git+https://github.com/santoshgdev/fitnessllm-shared.git@main
