functions-framework==3.*
google-cloud-firestore==2.*
google-cloud-pubsub==2.*
stravalib>=2.3,<3.0
google-cloud-secret-manager==2.*
pydantic>=2.0,<3.0
beartype==0.14.*
types-pytz
cryptography
firebase-admin
firebase-functions
git+https://github.com/santoshgdev/fitnessllm-shared.git@main
